<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>


<div th:fragment="event_table_fragment">
    <table class="table table-hover" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>CreateDate</th>
            <th>BeginningDate</th>
            <th>EndingDate</th>
            <th class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${eventList}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.name}"></td>
            <td th:text="${event.createDate}"></td>
            <td th:text="${event.beginningDate}"></td>
            <td th:text="${event.endingDate}"></td>
            <td>
                <a th:href="@{/event/edit/{id}(id=${event.id})}" class="btn btn-icon btn-pill btn-primary"
                   data-toggle="tooltip" title="Edit">
                    <i class="fa fa-fw fa-edit"></i>
                </a>
                <form th:action="@{/event/delete/{id}(id=${event.id})}" th:method="delete" class="d-inline">
                    <button class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" title="Delete">
                        <i class="fa fa-fw fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="card mb-4">
        <div class="card-header bg-white font-weight-bold">
            Add new event
        </div>
        <div class="card-body">
            <p>

            <a class="btn btn-primary" type="submit" data-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                Add
            </a>

            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>