<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Event list</h2>

        <div class="card mb-4">

            <div class="card-body">
                <form th:object="${event}" method="post" th:action="@{/events/add_event}"
                      enctype="multipart/form-data">
                    <div class="card mb-4">
                        <div class="card-body">
                            <input th:type="hidden" th:field="*{id}">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input th:field="*{name}" type="text" class="form-control" id="name"
                                       placeholder="Enter case name" required>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="beginning_date">Beginnig date</label>
                                    <input th:field="*{beginningDate}" type="datetime-local"
                                           class="form-control"
                                           id="beginning_date"
                                           placeholder="Example: 2021-01-01 12:30" required>
                                    <p th:class="text-danger" th:if="${#fields.hasErrors('beginningDate')}" th:errors="*{beginningDate}">Incorrect Date</p>

                                </div>
                                <div class="form-group">
                                    <label for="ending_date">Ending date</label>
                                    <input th:field="*{endingDate}" type="datetime-local"
                                           class="form-control"
                                           id="ending_date" placeholder="Example: 2021-01-01 12:30"
                                           required>
                                    <p th:class="text-danger" th:if="${#fields.hasErrors('endingDate')}" th:errors="*{endingDate}">Incorrect Date</p>
                                </div>
                                <div class="card-footer bg-white">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div th:replace="fragments/event_table:: event_table_fragment"></div>

            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/footer :: scripts"></script>
<script th:src="@{/js/datatables.min.js}"></script>
<script>
    $(document).ready(function () {
        $('#events').DataTable();
    });
</script>

</body>
</html>