<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">


<div th:replace="fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <form th:object="${person}" method="post" th:action="@{/legal_cases/add_person}"
              enctype="multipart/form-data">
            <div class="card mb-4">
                <div class="card-body">
                    <input th:type="hidden" th:field="*{id}">
                    <select class="form-control display d-lg-none" id="peron_case"
                            th:field="*{cases}" required>
                        <option class="cases"
                                th:each="legal_case : ${caseList}"
                                th:text="${legal_case.name}"
                                th:value="${legal_case.id}"></option>
                    </select>
                    <div class="form-group">
                        <label for="person_surname">Surname</label>
                        <input th:field="*{surname}" type="text" class="form-control"
                               id="person_surname"
                               placeholder="Enter person surname" required>
                    </div>
                    <div class="form-group">
                        <label for="person_name">Name</label>
                        <input th:field="*{name}" type="text" class="form-control"
                               id="person_name"
                               placeholder="Enter person name" required>
                    </div>
                    <div class="form-group">
                        <label for="person_name">Patronymic</label>
                        <input th:field="*{patronymic}" type="text" class="form-control"
                               id="person_patronymic"
                               placeholder="Enter person patronymic" required>
                    </div>
                    <div class="form-group">
                        <label for="person_name">Phone</label>
                        <input th:field="*{phone}" type="text" class="form-control"
                               id="person_phone"
                               placeholder="Enter person patronymic" required>
                    </div>
                    <div class="form-group">
                        <label for="person_name">Phone</label>
                        <input th:field="*{personStatus}" type="text" class="form-control"
                               id="person_status"
                               placeholder="Enter person status" required>
                    </div>
                    <div class="card-footer bg-white">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<script th:replace="fragments/footer :: scripts"></script>
<script>
    $(document).ready(function () {
        $('#cases').DataTable();
    });
</script>
</body>
</html>